<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Cerrar sesion</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="http://localhost:4200/register">Registrarse</a>
        <a href="http://localhost:4200/login">Ingresar</a>
    </NotAuthorized>
</AuthorizeView>
